.dot {
		    position: absolute;
		    width: 2px;
		    height: 2px;
		    background: white;
		    opacity: 0.5;
}

.patterns {
	display: inline;
	position: absolute;
}

.orbitals {
	opacity: 0.2;
}

.planets {
	opacity: 1;
}

.btn {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin-top: 1%;
    border-radius: 4px;
}

#btn1 {
	margin-left: 20px;
}

#btn2 {
	margin-left: 150px;
}

#btn3 {
	margin-left: 250px;
}

#btn4 {
	margin-left: 374px;
}

#btn5 {
	margin-top: 1%;
	position: absolute;
	margin-left: 20px;
	visibility: hidden;
	background-image: url(go_back.png) no-repeat top left;
	z-index: 100;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

div.Charttooltip {
	position: absolute;			
    text-align: center;								
    padding: 2px;				
    font: 20px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

body{
	background-color: black;
}

.links {
	color: #cccccc;
	font-size: 20px;
	align-content: center;
	text-align: center;
	position: fixed;
	margin-left: 30%;
}

.span{
	align-self: center;
	margin: 5px 10px;
}

.span:hover{
	color: white;
	font-size: 24px;
	text-decoration: underline;
}

.planetInfo{
	opacity: 0;
    position: absolute;									
    padding: 15px;				
    font: 30px sans-serif;		
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    color: #99ff99;
    letter-spacing: 5px;
    line-height: 150%;
}	


.planetInfo::first-line { 
	font-size: 35px;
}








.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}








.bar {
  fill: #99ff99;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}


#spanBarChart {
	color: #99ff99;
	font: 45px sans-serif;
	opacity: 0;
	position: absolute;
	text-align: center;
	margin-left:40%;
}





.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}